# --- Segurança (CRÍTICO) ---
.env
config.py
config.pyc

# --- Dados e Arquivos Pesados ---
static/
*.db
instance/

# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.venv/
env/

# --- IDEs e Editores ---
.vscode/
.idea/
*.swp

# --- Sistema Operacional ---
.DS_Store
Thumbs.db