# --- Segurança (CRÍTICO - NÃO MEXA AQUI) ---
.env
config.py
__pycache__/
*.pyc

# --- Dados e Arquivos Gerados ---
*.db
instance/
build/
dist/
*.spec

# --- Python e Ambiente ---
venv/
.venv/
env/

# --- IDEs e Sistema ---
.vscode/
.idea/
.DS_Store
Thumbs.db